.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px; 
  padding-bottom: 150px;
}
.day-header {
  font-weight: bold;
  text-align: center; 
}
.calendar-day {
  min-height: 100px; 
  cursor: pointer;
  border: 1px solid #dee2e6;
  background-color: #212529;
  padding: 10px;
  &:hover {
    transition: .4s;
    transition: .4s;
    background-color: #31363F;
    color: #fff;
    transform: scale(1.03);
  }
}

.current-day {
  background-color: #fff;
  p {
    color: #31363F;
    &:hover {
      color: #fff;
    }
  }
  /*
  p {
    background-color: #fff;
    color: #31363f;
    display: inline-block;
    margin: 0;
    padding: 2px;
    border-radius: 5px;
  }
  */
}