.event {
  margin-top: 5px;
  font-size: 12px;
  padding: 5px; 
  border-radius: 3px;
  color: white;
  transition: .4s;
}
.event.prueba { background-color: #17a2b8; } 
.event.disertacion { background-color: #28a745; } 
.event.control { background-color: #ffc107; } 
.event.informe { background-color: #dc3545; } 
.event.trabajo { background-color: #312fa8; }
.event.ensayo { background-color: #B86F52;}
.event.recuperativo {
  background-color: #eee950;
}

.event:hover {
  transform: scale(1.03);
}