@media (max-width: 1200px) {
  .calendar {
    grid-template-columns: repeat(4, 1fr);
  }
  .day-header {
    display: none;
  }
}
@media (max-width: 992px) {
  .calendar {
    grid-template-columns: repeat(3, 1fr);
  }
  .day-header {
    display: none;
  }
}
@media (max-width: 768px) {
  .calendar {
    grid-template-columns: repeat(2, 1fr);
    .day-header {
      display: none;
    }
  }
}
@media (max-width: 576px) {
  .calendar {
    grid-template-columns: 1fr;
  }
  .day-header {
    display: none;
  }
}
